@model JetSetterProject.ViewModels.SignInVM

@{
    ViewData["Title"] = "Confirm your Email";
}

<h2>Confirm your Email</h2>

<p>
    Welcome, @ViewBag.Email! Please confirm your email before accessing our site's features.
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</p>
