
@{
    ViewData["Title"] = "Index";
}

<h1>Documentation</h1>
<h2>The JetSetter Project</h2>
<p>
    Visiting and exploring different countries is now a staple in this modern world. With the rise of social media, our project aims to
    provide a service to everyone,
    whether they want to showcase their travel destinations for other people or to just keep a private travel journal.
    We connect these people to businesses who can advertise products and services on our site.
</p>

<h3>Essential Functions:</h3>

<p>
    For the daily User:
    <ul>
        <li>Make Account - Register and Log In (Securely)</li>
        <li>Manage Account</li>

        <li>
            Create Diary posts
            <ul>
                <li>Image</li>
                <li>Description</li>
                <li>Location</li>
                <li>Tips</li>
            </ul>
        </li>

        <li>Modify and delete Diary posts</li>
        <li>
            Access to Home View
            <ul>
                <li>Public diary posts</li>
                <li>Advertisments</li>
            </ul>
        </li>
    </ul>

    For Vendors/Businesses
    <ul>
        <li>Make Account - Register and Log In (Securely)</li>
        <li>Manage Account</li>

        <li>
            Create Advertisments
            <ul>
                <li>Image</li>
                <li>Description</li>
                <li>Website</li>
            </ul>
        </li>

        <li>Modify and delete Ad posts</li>
        <li>
            Access to Home View
            <ul>
                <li>Public diary posts</li>
                <li>Advertisments</li>
            </ul>
        </li>
    </ul>
</p>
<img src="~/images/UCD.png" width="500" />
<h3>ERD</h3>

<img src="~/images/ERD.PNG" width="500" />

<h3>API</h3>

We made an API for other develoeprs to display all public Diary Posts<br />
<a asp-area="" asp-controller="Diaries" asp-action="API">API usage and demo</a>


<h3>Technology</h3>

<ul>
    <li>ASP.NET Core</li>
    <li>SQLite (will be migrating to MS SQL)</li>
    <li>ReCaptcha</li>
    <li>Bootstrap</li>
    <li>Social Media Log In(Facebook API/Google API)</li>
    <li>JavaScript and jQuery</li>
</ul>

<h3>Planned Features</h3>

<p>Coming Soon:</p>
<ul>
    <li>Payment options(PayPal, Interac, etc.)</li>
    <li>Ratings System</li>
    <li>Social Media Integration(Post to Instagram, Facebook etc.)</li>
</ul>

<h4>The JetCard / JetBook (name pending)</h4>
<p>
    We are working on feature where users will be able to order a specialized print of their Diary posts.
</p>

<h5>JetCard</h5>
<p>Want to send a post card to someone? We will process your Diary Post in to a printed postcard and send it directly to your friends and family</p>
<h5>JetBook</h5>
<p>Want to keep a physical keepsake of your travels? We will process all your diary posts in a Travel Journal and send it to you.</p>
