
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>Branch Exercise</h3>
<ul>
    <li><a asp-area="" asp-controller="Branch" asp-action="Lawrence">Lawrence's Branch Example</a></li>
</ul>
