@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <br />
    <div class="text-center">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success  btn-lg">I am a traveler</a>
        <a asp-area="" asp-controller="Vendors" asp-action="Create" class="btn btn-danger  btn-lg">I am a vendor</a>
    </div>
   
   

</div>