@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image:url(/images/travelJournal.jpg); background-repeat:no-repeat; background-size: cover">
    <div class="container" style="padding-bottom:60%; max-height:100%; overflow:hidden; ">
        <br />
        <br />
        <div class="text-center">
            <a asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-success  btn-lg">I am a traveler</a>
            <a asp-area="" asp-controller="VendorSignIn" asp-action="Index" class="btn btn-danger  btn-lg">I am a vendor</a>
        </div>
    </div>
</body>