@model jetsetterProj.Models.Diary

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />
<div class="row">
    <div class="jumbotron jumbotron-fluid" style="color: white; background-size: cover; background-position: center; background-image: url(@Html.DisplayFor(model => model.Image)">
        <div class="container" style="background-color: rgba(255, 0, 0, 0.15); border-radius: 25px;">
            <h1 class="display-4">@Html.DisplayFor(model => model.Country)</h1>
            <h3>@Html.DisplayFor(model => model.City)</h3>
        </div>
    </div>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-4">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" placeholder="City">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-4">
                    <label asp-for="DateStamp">Date</label>
                    <input asp-for="DateStamp" class="form-control" placeholder="Date">
                    <span asp-validation-for="DateStamp" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Image">Image URL</label>
                <input asp-for="Image" class="form-control" placeholder="Image URL">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" checked>Public</label>
                <label><input type="radio" name="optradio">Private</label>
            </div>

            <div class="form-group">
                <label asp-for="DiaryEntry">Diary</label>
                <textarea asp-for="DiaryEntry" type="text" class="form-control" rows="6" placeholder="Diary"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Tips">Tips</label>
                <textarea asp-for="Tips" type="text" class="form-control" rows="3" placeholder="Tips"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
